pre {
    background-color: rgba(255, 254, 245, 1);
}

.wy-side-nav-search, .wy-nav-top {
    background-color: #003c69 !important;
}

.version {
    color: white !important;
}

.wy-menu-vertical a:not(.current):not(.internal):active {
    background-color:  #003c69 !important;
} 

body, p, h1, h2, h3, h4, h5, h6 {
    font-family: Arial !important;
}

h1, h2, h3, h4, h5, h6, a, .wy-nav-content-wrap .caption {
    color: #003c69;    
}

.wy-nav-content-wrap a:hover {
    color: #0099CC;
}

.wy-side-nav-search a:hover {
    background: rgba(255, 255, 255, 0);
}

.danger .admonition-title {
    background: #C60C30 !important;
}

.warning .admonition-title {
    background: #FECB00 !important;
}

.hint .admonition-title {
    background: #92D400 !important;
}

.note .admonition-title {
    background: #0099CC !important;
}
