pre {
    background-color: rgba(255, 254, 245, 1);
}

.wy-side-nav-search {
    background-color: #003763 !important;
}

.version {
    color: white !important;
}

.wy-menu-vertical a:active {
    background-color:  #003763 !important;
} 